@using RopeyDVD.Areas.Identity.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User Page";
}

@model ICollection<RopeyDVDUser>

<div class="text-center">
    <h1 class="display-4">Users</h1>

    <div class="text-start">
        <a asp-controller="User" asp-action="Create">Create User</a>
    </div>

    @if(@Model != null && @Model.Any())
    {
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Email</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                      <th scope="row">@user.Id</th>
                      <td>@user.Email</td>
                      <td class="text-center">
                          <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                          <div class="vr"></div>
                          <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                      </td>
                    </tr>
                }
          </tbody>
        </table>
    }
</div>